quarkus.http.port=
quarkus.http.cors=

quarkus.datasource.db-kind=
quarkus.datasource.username=
quarkus.datasource.password=
quarkus.datasource.jdbc.url=

quarkus.hibernate-orm.packages=

quarkus.datasource.minsa.db-kind=
quarkus.datasource.minsa.username=
quarkus.datasource.minsa.password=
quarkus.datasource.minsa.jdbc.url=
quarkus.datasource.minsa.jdbc.max-size=

quarkus.hibernate-orm.minsa.datasource=
quarkus.hibernate-orm.minsa.packages=